*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.banner{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.512), rgba(0,0,0,0.669)), url('../wallpaper/449404018_1592346084646031_7587940920991160447_n.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    color: #ffffffce;
    text-align: center;
    width: 70%;
}
.content h2{
    font-size: 54px;
    color: #db714e;
    text-transform: uppercase;
}
.content p{
    font-size: 23px;
    margin: 15px 0;
}
.content button{
    background-color: #04aa6d;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
}
.content button:hover{
    background-color: #068858;
    transition: 0.5s ease-in;
}